/* ||SEÇÃO HOMENAGEM-INFO|| */
#tribute-info {
    width: 100%;
    height: auto;
}

/* imagem */
#img-div {
    width: 100%;
    max-width: 422px;
    height: auto;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
#image {
    display: block;
    max-width: 100%;
    height: auto;
}
#img-caption  {
    width: 100%;
    height: 10%;
    font-family: 'Caudex', serif;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 1.4;
    color: #333;
}

/* introdução */
#subject {
    font-family: 'Caudex', serif;
    text-align: left;
    color: #333;
    line-height: 1.4;
    font-size: 2.1rem;
    font-weight: 200;
    margin: 10px 0px;
}

/* lista não ordenada */
#list-div {
    padding-left: 35px;
}
#title-ul {
    font-family: 'Caudex', serif;
    text-align: left;
    color: #333;
    line-height: 1.4;
    font-size: 1.8rem;
    font-weight: 200;
    margin: 15px 0px 5px 0px;
    position: relative;
    right: 35px;
}
#list-div > li {
    font-family: 'Caudex', serif;
    color: #333;
    line-height: 1.2;
    font-size: 1.4rem;
    font-weight: 200;
    padding: 2px 0px;
}

/* citação */
#tribute-info > blockquote-reverse > em {
    font-family: 'Caudex', serif;
    color: #333;
    background: rgba(255, 255, 255, 0.6);
    line-height: 1.4;
    font-size: 1.6rem;
    font-weight: 200;
}